In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
import util

In [3]:
dir_data = Path('/Users/josh/Documents/Harvard/GLM/sabatinilab-glm/data/old-data-version/raw-new/Figure_1_2')
dir_output = Path('/Users/josh/Desktop/example_output_folder')

lst_dict_inputdata = [
    {'session_id': 'WT63_11082021',
    'filepath_signal': dir_data / Path('GLM_SIGNALS_WT69_12192021.txt'),
    'filepath_trial': dir_data / Path('GLM_TABLE_WT69_12192021.txt'),
    'bool_trialTable_matlab_indexed': True,
    'columnName_trialTable_trialId': None,
    'columnRenames_signal': {'Ch1': 'gDA', 'Ch5': 'gACH'},
    'columnRenames_trial': {
        'photometryCenterInIndex': 'CI',
        'photometryCenterOutIndex': 'CO',
        'photometrySideInIndex': 'SI',
        'photometrySideOutIndex': 'SO',
        'hasAllPhotometryData': 'hasData'
    }},
]

def construct_lick(df, signal_left_lick_col, signal_right_lick_col):
    return (df[signal_left_lick_col] + df[signal_right_lick_col]).values

def construct_signal_entry(df, signal_left_in_col, signal_right_in_col):
    return (df[signal_left_in_col] + df[signal_right_in_col]).values

# def construct_SEnt(df, signal_entry_col, trial_entry_col):
#     return (df[signal_entry_col] - df[trial_entry_col]).values

dir_output.mkdir(parents=True, exist_ok=True)

columnName_alignment_trial_start = 'CI'
columnName_alignment_trial_end = 'SO'
trial_index_columns = ['CI', 'CO', 'SI', 'SO',]
trial_num_columns = ['nTrial', 'hasData',]
trial_cat_columns = ['wasRewarded', 'word',]
signal_dense_columns = ['gDA', 'gACH',]
signal_sparse_columns = ['lick', 'sideIn']

In [4]:
for dict_inputdata in lst_dict_inputdata:
    df_signal = pd.read_csv(dict_inputdata['filepath_signal']).rename(dict_inputdata['columnRenames_signal'], axis=1)
    df_trial = pd.read_csv(dict_inputdata['filepath_trial']).rename(dict_inputdata['columnRenames_trial'], axis=1)
    
    df_trial['nTrial'] = np.arange(df_trial.shape[0])
    df_signal['lick'] = construct_lick(df_signal, 'leftLick', 'rightLick')
    df_signal['sideIn'] = construct_signal_entry(df_signal, 'rightIn', 'leftIn')

    nrows = df_signal.shape[0]
    
    df_trial = df_trial[(df_trial[trial_index_columns] == 0).sum(axis=1) == 0]
    df_trial_indices = df_trial[trial_index_columns]
    
    matrix_signal_sparse = util.Matrix.from_pd_dense_num(df_signal[signal_sparse_columns]).one_hots_to_inx()
    matrix_signal_dense = util.Matrix.from_pd_dense_num(df_signal[signal_dense_columns])
    matrix_trial_inx = util.Matrix.from_pd_sparse_num(nrows, indices=df_trial_indices - 1, values=None, sparse_value=0)
    matrix_trial_num = util.Matrix.from_pd_sparse_num(nrows, indices=df_trial_indices - 1, values=df_trial[trial_num_columns], sparse_value=np.nan)
    matrix_trial_cat = util.Matrix.from_pd_sparse_cat(nrows, indices=df_trial_indices - 1, values=df_trial[trial_cat_columns], sparse_value=np.nan)
    
    matrix_all_preds = util.Matrix([matrix_signal_sparse, matrix_signal_dense, matrix_trial_inx, matrix_trial_num, matrix_trial_cat])

    # # print(matrix_all_preds.vectors['centerOcc'])

    
    # mtc = matrix_trial_cat.to_pd()['nTrial']
    # display(mtc[(~mtc.isna()).sum(axis=1) > 0])
    # # display(matrix_trial_cat.to_pd()['nTrial'])
    # display(matrix_trial_inx.to_pd())

In [5]:
util.Matrix.from_pd_sparse_cat(nrows, indices=df_trial_indices - 1, values=df_trial[trial_cat_columns], sparse_value=np.nan)

Matrix(vectors={(('wasRewarded', 0), ('CI',)): VectorSparse(name=('wasRewarded', 0), nrows=29850, values=None, indices=[ 1926  2050  2087  2314  2438  2560  2600  2789  3231  3648  4000  4048
  4100  5096  5189  5293  5514  5609  5816  6125  7728  8459  8749  8827
  9389  9833 10430 10960 11047 11173 11514 11610 11696 11785 11834 11870
 12027 12089 12388 12688 12775 12814 12855 13078 13120 13599 13737 13775
 13814 13857 13895 13994 14055 14299 14362 14579 14948 15336 15815 15942
 16077 16229 16950 17302 17379 17420 17457 17509 17547 18192 18236 18538
 18767 18847 18886 19268 19638 21588 21688 22147 22741 22837 22962 23522
 23560 23598 23720 23960 24310 25217 25764 29024], sparse_value=nan, filter_names={'CI'}), (('wasRewarded', 1), ('CI',)): VectorSparse(name=('wasRewarded', 1), nrows=29850, values=None, indices=[ 1222  1290  1450  1507  1565  1655  1725  1783  1866  1971  2124  2179
  2232  2379  2645  2837  2893  2956  3037  3105  3177  3270  3345  3406
  3477  3533  3590  3695  3752  3820  4137  4203  4270  4324  4381  4442
  4499  4556  4637  4786  4837  4888  5338  5555  5645  5702  5757  5903
  5957  6012  6067  6201  6358  6420  6491  6554  6619  6682  6753  6818
  6887  6949  7015  7091  7161  7226  7290  7359  7434  7508  7568  7829
  7894  7951  8018  8092  8193  8253  8317  8387  8688  8867  8925  8985
  9045  9104  9159  9212  9452  9620  9672  9724  9781  9912  9966 10018
 10073 10131 10190 10247 10307 10364 10469 10522 10582 10644 10708 10769
 10827 10904 10996 11255 11328 11382 11444 11552 11732 11905 11971 12125
 12188 12435 12494 12898 12964 13018 13154 13216 13281 13346 13403 13476
 13537 13636 13932 14401 14523 14656 14719 14779 14876 14987 15045 15105
 15163 15220 15280 15371 15428 15488 15551 15669 15752 16021 16111 16169
 16264 16324 16386 16446 16511 16576 16638 16704 16761 16824 16891 16989
 17049 17111 17177 17239 17624 17707 17765 17835 17917 17996 18106 18337
 18403 18577 18640 18709 19309 19433 19494 19556 19685 19766 19839 19936
 20365 20431 20506 20578 20639 20712 20845 20918 20987 21061 21204 21268
 21333 21395 21463 21524 21625 21727 21788 21853 21946 22020 22081 22186
 22245 22305 22372 22433 22496 22557 22617 22679 22779 23012 23072 23179
 23256 23393 23461 23649 23763 24369 29104], sparse_value=nan, filter_names={'CI'}), (('word', 'AA'), ('CI',)): VectorSparse(name=('word', 'AA'), nrows=29850, values=None, indices=[ 1290  1450  1507  1565  1655  1725  1783  1866  2179  2232  2893  2956
  3037  3105  3177  3345  3406  3477  3533  3590  3752  3820  4203  4270
  4324  4381  4442  4499  4556  4637  4786  4837  4888  5702  5757  5957
  6012  6067  6420  6491  6554  6619  6682  6753  6818  6887  6949  7015
  7091  7161  7226  7290  7359  7434  7508  7568  7894  7951  8018  8092
  8193  8253  8317  8387  8925  8985  9045  9104  9159  9212  9620  9672
  9724  9781  9966 10018 10073 10131 10190 10247 10307 10364 10522 10582
 10644 10708 10769 10827 10904 11328 11382 11444 11971 12188 12494 12964
 13018 13216 13281 13346 13403 13476 13537 14719 14779 14876 15045 15105
 15163 15220 15280 15428 15488 15551 15669 15752 16169 16324 16386 16446
 16511 16576 16638 16704 16761 16824 16891 17049 17111 17177 17239 17707
 17765 17835 17917 17996 18403 18640 18709 19433 19494 19556 19766 19839
 19936 20365 20431 20506 20578 20639 20712 20845 20918 20987 21204 21268
 21333 21395 21463 21524 21788 21853 21946 22020 22081 22245 22305 22372
 22433 22496 22557 22617 22679 23072 23179 23256 23393 23461], sparse_value=nan, filter_names={'CI'}), (('word', 'AB'), ('CI',)): VectorSparse(name=('word', 'AB'), nrows=29850, values=None, indices=[ 6358 14523 18106 21061], sparse_value=nan, filter_names={'CI'}), (('word', 'Aa'), ('CI',)): VectorSparse(name=('word', 'Aa'), nrows=29850, values=None, indices=[ 1926  2050  2438  3231  3648  4000  5609  5816  6125  8459  8749  9833
 10430 10960 11047 11514 11610 11785 12027 13078 13599 13737 13994 14579
 14948 15336 15815 16077 16229 16950 17302 18192 18767 21588 21688 22147
 22741 22837 23522 23960], sparse_value=nan, filter_names={'CI'}), (('word', 'Ab'), ('CI',)): VectorSparse(name=('word', 'Ab'), nrows=29850, values=None, indices=[ 2314  2789  5096  5514  7728  9389 12388 12688 18538 19638 23720 25217], sparse_value=nan, filter_names={'CI'}), (('word', 'aA'), ('CI',)): VectorSparse(name=('word', 'aA'), nrows=29850, values=None, indices=[ 1222  1971  3695  5645  5903  6201  8688  9912 10469 10996 12898 15371
 16111 16264 16989 17624 21625 21727 22186 22779], sparse_value=nan, filter_names={'CI'}), (('word', 'aB'), ('CI',)): VectorSparse(name=('word', 'aB'), nrows=29850, values=None, indices=[ 2124  2379  2645  2837  3270  4137  5338  5555  7829  8867  9452 11255
 11552 11732 11905 12125 12435 13154 13636 13932 14401 14656 14987 16021
 18337 18577 19309 19685 23012 23649 23763 24369 29104], sparse_value=nan, filter_names={'CI'}), (('word', 'aa'), ('CI',)): VectorSparse(name=('word', 'aa'), nrows=29850, values=None, indices=[ 2560  4048  5189  5293  8827 11173 11696 11870 13775 13814 13857 13895
 14299 14362 17379 17420 17457 17509 18236 23560 23598], sparse_value=nan, filter_names={'CI'}), (('word', 'ab'), ('CI',)): VectorSparse(name=('word', 'ab'), nrows=29850, values=None, indices=[ 2087  2600  4100 11834 12089 12775 12814 12855 13120 14055 15942 17547
 18847 18886 19268 22962 24310 25764 29024], sparse_value=nan, filter_names={'CI'}), (('wasRewarded', 0), ('CO',)): VectorSparse(name=('wasRewarded', 0), nrows=29850, values=None, indices=[ 1927  2050  2089  2314  2439  2561  2602  2792  3232  3649  4002  4051
  4101  5097  5190  5295  5514  5610  5817  6126  7730  8459  8749  8829
  9391  9835 10432 10962 11049 11176 11516 11612 11699 11787 11835 11872
 12027 12090 12393 12690 12776 12815 12857 13079 13121 13601 13738 13777
 13815 13859 13897 13995 14056 14302 14364 14580 14948 15338 15816 15946
 16078 16230 16952 17303 17381 17421 17459 17511 17551 18193 18238 18540
 18768 18850 18888 19268 19642 21589 21689 22148 22742 22839 22966 23524
 23562 23603 23722 23962 24312 25224 25773 29029], sparse_value=nan, filter_names={'CO'}), (('wasRewarded', 1), ('CO',)): VectorSparse(name=('wasRewarded', 1), nrows=29850, values=None, indices=[ 1225  1291  1452  1509  1566  1656  1726  1783  1866  1973  2126  2180
  2233  2381  2646  2837  2894  2956  3037  3106  3180  3273  3347  3408
  3478  3534  3591  3697  3752  3822  4139  4204  4271  4326  4382  4444
  4500  4557  4638  4787  4838  4890  5339  5557  5647  5703  5758  5906
  5959  6013  6068  6204  6360  6421  6492  6555  6619  6682  6754  6819
  6888  6949  7018  7092  7161  7227  7290  7359  7435  7508  7569  7829
  7896  7952  8019  8093  8195  8253  8317  8387  8691  8869  8927  8986
  9047  9105  9160  9214  9454  9622  9673  9725  9781  9914  9967 10020
 10074 10133 10191 10249 10308 10366 10470 10523 10584 10646 10710 10770
 10828 10905 10997 11258 11329 11383 11445 11555 11735 11906 11972 12127
 12189 12436 12495 12900 12965 13019 13157 13216 13282 13349 13403 13477
 13537 13638 13934 14403 14526 14658 14720 14780 14877 14990 15047 15107
 15164 15222 15282 15373 15430 15489 15552 15671 15753 16022 16113 16170
 16266 16326 16387 16448 16513 16577 16641 16705 16762 16825 16892 16991
 17051 17113 17178 17241 17626 17708 17766 17837 17919 17997 18109 18338
 18404 18578 18642 18710 19311 19434 19498 19557 19696 19768 19840 19937
 20367 20433 20507 20580 20640 20713 20846 20919 20989 21064 21206 21270
 21334 21397 21464 21525 21627 21728 21790 21854 21949 22022 22082 22188
 22247 22307 22374 22436 22497 22559 22619 22681 22781 23013 23073 23181
 23257 23396 23463 23652 23766 24370 29107], sparse_value=nan, filter_names={'CO'}), (('word', 'AA'), ('CO',)): VectorSparse(name=('word', 'AA'), nrows=29850, values=None, indices=[ 1291  1452  1509  1566  1656  1726  1783  1866  2180  2233  2894  2956
  3037  3106  3180  3347  3408  3478  3534  3591  3752  3822  4204  4271
  4326  4382  4444  4500  4557  4638  4787  4838  4890  5703  5758  5959
  6013  6068  6421  6492  6555  6619  6682  6754  6819  6888  6949  7018
  7092  7161  7227  7290  7359  7435  7508  7569  7896  7952  8019  8093
  8195  8253  8317  8387  8927  8986  9047  9105  9160  9214  9622  9673
  9725  9781  9967 10020 10074 10133 10191 10249 10308 10366 10523 10584
 10646 10710 10770 10828 10905 11329 11383 11445 11972 12189 12495 12965
 13019 13216 13282 13349 13403 13477 13537 14720 14780 14877 15047 15107
 15164 15222 15282 15430 15489 15552 15671 15753 16170 16326 16387 16448
 16513 16577 16641 16705 16762 16825 16892 17051 17113 17178 17241 17708
 17766 17837 17919 17997 18404 18642 18710 19434 19498 19557 19768 19840
 19937 20367 20433 20507 20580 20640 20713 20846 20919 20989 21206 21270
 21334 21397 21464 21525 21790 21854 21949 22022 22082 22247 22307 22374
 22436 22497 22559 22619 22681 23073 23181 23257 23396 23463], sparse_value=nan, filter_names={'CO'}), (('word', 'AB'), ('CO',)): VectorSparse(name=('word', 'AB'), nrows=29850, values=None, indices=[ 6360 14526 18109 21064], sparse_value=nan, filter_names={'CO'}), (('word', 'Aa'), ('CO',)): VectorSparse(name=('word', 'Aa'), nrows=29850, values=None, indices=[ 1927  2050  2439  3232  3649  4002  5610  5817  6126  8459  8749  9835
 10432 10962 11049 11516 11612 11787 12027 13079 13601 13738 13995 14580
 14948 15338 15816 16078 16230 16952 17303 18193 18768 21589 21689 22148
 22742 22839 23524 23962], sparse_value=nan, filter_names={'CO'}), (('word', 'Ab'), ('CO',)): VectorSparse(name=('word', 'Ab'), nrows=29850, values=None, indices=[ 2314  2792  5097  5514  7730  9391 12393 12690 18540 19642 23722 25224], sparse_value=nan, filter_names={'CO'}), (('word', 'aA'), ('CO',)): VectorSparse(name=('word', 'aA'), nrows=29850, values=None, indices=[ 1225  1973  3697  5647  5906  6204  8691  9914 10470 10997 12900 15373
 16113 16266 16991 17626 21627 21728 22188 22781], sparse_value=nan, filter_names={'CO'}), (('word', 'aB'), ('CO',)): VectorSparse(name=('word', 'aB'), nrows=29850, values=None, indices=[ 2126  2381  2646  2837  3273  4139  5339  5557  7829  8869  9454 11258
 11555 11735 11906 12127 12436 13157 13638 13934 14403 14658 14990 16022
 18338 18578 19311 19696 23013 23652 23766 24370 29107], sparse_value=nan, filter_names={'CO'}), (('word', 'aa'), ('CO',)): VectorSparse(name=('word', 'aa'), nrows=29850, values=None, indices=[ 2561  4051  5190  5295  8829 11176 11699 11872 13777 13815 13859 13897
 14302 14364 17381 17421 17459 17511 18238 23562 23603], sparse_value=nan, filter_names={'CO'}), (('word', 'ab'), ('CO',)): VectorSparse(name=('word', 'ab'), nrows=29850, values=None, indices=[ 2089  2602  4101 11835 12090 12776 12815 12857 13121 14056 15946 17551
 18850 18888 19268 22966 24312 25773 29029], sparse_value=nan, filter_names={'CO'}), (('wasRewarded', 0), ('SI',)): VectorSparse(name=('wasRewarded', 0), nrows=29850, values=None, indices=[ 1941  2065  2103  2327  2454  2576  2614  2808  3247  3661  4014  4068
  4115  5113  5206  5311  5530  5623  5829  6138  7742  8474  8766  8846
  9406  9847 10445 10974 11061 11188 11530 11623 11712 11803 11848 11885
 12043 12103 12406 12702 12791 12827 12874 13095 13133 13614 13752 13789
 13827 13874 13909 14009 14069 14316 14377 14593 14962 15350 15830 15963
 16090 16243 16966 17316 17394 17436 17472 17526 17568 18208 18252 18555
 18784 18864 18904 19285 19659 21604 21704 22162 22756 22852 22989 23539
 23577 23620 23739 23981 24336 25247 25825 29064], sparse_value=nan, filter_names={'SI'}), (('wasRewarded', 1), ('SI',)): VectorSparse(name=('wasRewarded', 1), nrows=29850, values=None, indices=[ 1239  1306  1467  1523  1580  1671  1740  1798  1881  1989  2142  2193
  2248  2397  2661  2853  2908  2970  3052  3119  3194  3285  3360  3420
  3490  3546  3602  3709  3764  3834  4151  4217  4284  4338  4393  4456
  4513  4570  4652  4799  4851  4902  5355  5572  5659  5715  5770  5918
  5971  6026  6080  6217  6375  6437  6507  6570  6633  6699  6770  6834
  6901  6963  7035  7106  7176  7241  7306  7373  7449  7522  7583  7847
  7909  7968  8033  8108  8210  8268  8332  8402  8708  8881  8939  8998
  9059  9117  9172  9226  9466  9635  9685  9737  9794  9927  9979 10032
 10086 10145 10203 10261 10321 10378 10482 10535 10596 10658 10722 10782
 10841 10918 11009 11272 11343 11399 11463 11567 11749 11921 11986 12141
 12203 12451 12510 12920 12979 13034 13171 13233 13296 13363 13419 13491
 13551 13655 13949 14419 14540 14673 14734 14796 14892 15004 15058 15119
 15176 15234 15295 15385 15442 15502 15566 15689 15768 16036 16125 16182
 16279 16339 16400 16464 16526 16590 16654 16719 16775 16841 16906 17005
 17064 17125 17193 17254 17642 17724 17789 17862 17936 18011 18125 18355
 18419 18594 18657 18725 19329 19449 19513 19575 19712 19785 19856 19953
 20385 20451 20522 20595 20659 20729 20864 20934 21011 21095 21221 21284
 21348 21413 21478 21540 21641 21743 21803 21869 21971 22037 22098 22202
 22261 22322 22388 22450 22511 22572 22633 22695 22794 23029 23089 23197
 23271 23412 23479 23668 23782 24388 29128], sparse_value=nan, filter_names={'SI'}), (('word', 'AA'), ('SI',)): VectorSparse(name=('word', 'AA'), nrows=29850, values=None, indices=[ 1306  1467  1523  1580  1671  1740  1798  1881  2193  2248  2908  2970
  3052  3119  3194  3360  3420  3490  3546  3602  3764  3834  4217  4284
  4338  4393  4456  4513  4570  4652  4799  4851  4902  5715  5770  5971
  6026  6080  6437  6507  6570  6633  6699  6770  6834  6901  6963  7035
  7106  7176  7241  7306  7373  7449  7522  7583  7909  7968  8033  8108
  8210  8268  8332  8402  8939  8998  9059  9117  9172  9226  9635  9685
  9737  9794  9979 10032 10086 10145 10203 10261 10321 10378 10535 10596
 10658 10722 10782 10841 10918 11343 11399 11463 11986 12203 12510 12979
 13034 13233 13296 13363 13419 13491 13551 14734 14796 14892 15058 15119
 15176 15234 15295 15442 15502 15566 15689 15768 16182 16339 16400 16464
 16526 16590 16654 16719 16775 16841 16906 17064 17125 17193 17254 17724
 17789 17862 17936 18011 18419 18657 18725 19449 19513 19575 19785 19856
 19953 20385 20451 20522 20595 20659 20729 20864 20934 21011 21221 21284
 21348 21413 21478 21540 21803 21869 21971 22037 22098 22261 22322 22388
 22450 22511 22572 22633 22695 23089 23197 23271 23412 23479], sparse_value=nan, filter_names={'SI'}), (('word', 'AB'), ('SI',)): VectorSparse(name=('word', 'AB'), nrows=29850, values=None, indices=[ 6375 14540 18125 21095], sparse_value=nan, filter_names={'SI'}), (('word', 'Aa'), ('SI',)): VectorSparse(name=('word', 'Aa'), nrows=29850, values=None, indices=[ 1941  2065  2454  3247  3661  4014  5623  5829  6138  8474  8766  9847
 10445 10974 11061 11530 11623 11803 12043 13095 13614 13752 14009 14593
 14962 15350 15830 16090 16243 16966 17316 18208 18784 21604 21704 22162
 22756 22852 23539 23981], sparse_value=nan, filter_names={'SI'}), (('word', 'Ab'), ('SI',)): VectorSparse(name=('word', 'Ab'), nrows=29850, values=None, indices=[ 2327  2808  5113  5530  7742  9406 12406 12702 18555 19659 23739 25247], sparse_value=nan, filter_names={'SI'}), (('word', 'aA'), ('SI',)): VectorSparse(name=('word', 'aA'), nrows=29850, values=None, indices=[ 1239  1989  3709  5659  5918  6217  8708  9927 10482 11009 12920 15385
 16125 16279 17005 17642 21641 21743 22202 22794], sparse_value=nan, filter_names={'SI'}), (('word', 'aB'), ('SI',)): VectorSparse(name=('word', 'aB'), nrows=29850, values=None, indices=[ 2142  2397  2661  2853  3285  4151  5355  5572  7847  8881  9466 11272
 11567 11749 11921 12141 12451 13171 13655 13949 14419 14673 15004 16036
 18355 18594 19329 19712 23029 23668 23782 24388 29128], sparse_value=nan, filter_names={'SI'}), (('word', 'aa'), ('SI',)): VectorSparse(name=('word', 'aa'), nrows=29850, values=None, indices=[ 2576  4068  5206  5311  8846 11188 11712 11885 13789 13827 13874 13909
 14316 14377 17394 17436 17472 17526 18252 23577 23620], sparse_value=nan, filter_names={'SI'}), (('word', 'ab'), ('SI',)): VectorSparse(name=('word', 'ab'), nrows=29850, values=None, indices=[ 2103  2614  4115 11848 12103 12791 12827 12874 13133 14069 15963 17568
 18864 18904 19285 22989 24336 25825 29064], sparse_value=nan, filter_names={'SI'}), (('wasRewarded', 0), ('SO',)): VectorSparse(name=('wasRewarded', 0), nrows=29850, values=None, indices=[ 1944  2068  2105  2330  2457  2579  2617  2811  3251  3666  4016  4072
  4118  5116  5209  5313  5533  5626  5833  6141  7746  8478  8768  8849
  9409  9851 10449 10978 11065 11192 11533 11626 11715 11805 11853 11889
 12046 12105 12411 12705 12794 12830 12877 13098 13136 13617 13756 13794
 13833 13877 13912 14012 14073 14321 14381 14596 14966 15356 15833 15966
 16093 16247 16971 17320 17397 17439 17475 17529 17571 18211 18255 18558
 18787 18867 18907 19290 19665 21608 21707 22167 22760 22855 22992 23542
 23580 23625 23743 23985 24340 25252 25830 29070], sparse_value=nan, filter_names={'SO'}), (('wasRewarded', 1), ('SO',)): VectorSparse(name=('wasRewarded', 1), nrows=29850, values=None, indices=[ 1265  1334  1493  1552  1613  1700  1769  1840  1912  2019  2166  2220
  2276  2426  2684  2879  2934  2998  3082  3152  3219  3303  3391  3450
  3518  3576  3631  3737  3790  3864  4175  4241  4311  4366  4427  4485
  4543  4599  4678  4824  4875  4927  5381  5594  5686  5742  5800  5943
  5997  6051  6109  6265  6407  6477  6541  6605  6669  6740  6804  6869
  6935  6996  7068  7138  7213  7276  7345  7409  7484  7555  7614  7874
  7937  8004  8076  8140  8239  8303  8364  8436  8734  8909  8970  9031
  9090  9144  9198  9256  9488  9657  9710  9766  9819  9952 10005 10056
 10116 10175 10232 10292 10349 10407 10508 10567 10630 10694 10753 10811
 10877 10945 11033 11293 11370 11431 11492 11596 11772 11947 12011 12166
 12235 12474 12546 12942 13005 13063 13201 13262 13329 13389 13450 13523
 13583 13691 13971 14443 14562 14697 14765 14832 14922 15030 15089 15147
 15205 15265 15321 15412 15473 15534 15602 15716 15799 16060 16152 16214
 16309 16371 16431 16494 16561 16622 16684 16745 16809 16876 16934 17035
 17095 17161 17224 17286 17668 17752 17817 17893 17971 18046 18150 18378
 18446 18618 18681 18751 19357 19476 19540 19617 19740 19812 19882 19983
 20412 20479 20551 20623 20689 20760 20894 20965 21043 21129 21247 21313
 21378 21443 21506 21570 21669 21771 21835 21896 22000 22063 22126 22227
 22288 22354 22414 22477 22539 22599 22662 22723 22819 23051 23112 23221
 23300 23442 23502 23686 23812 24412 29161], sparse_value=nan, filter_names={'SO'}), (('word', 'AA'), ('SO',)): VectorSparse(name=('word', 'AA'), nrows=29850, values=None, indices=[ 1334  1493  1552  1613  1700  1769  1840  1912  2220  2276  2934  2998
  3082  3152  3219  3391  3450  3518  3576  3631  3790  3864  4241  4311
  4366  4427  4485  4543  4599  4678  4824  4875  4927  5742  5800  5997
  6051  6109  6477  6541  6605  6669  6740  6804  6869  6935  6996  7068
  7138  7213  7276  7345  7409  7484  7555  7614  7937  8004  8076  8140
  8239  8303  8364  8436  8970  9031  9090  9144  9198  9256  9657  9710
  9766  9819 10005 10056 10116 10175 10232 10292 10349 10407 10567 10630
 10694 10753 10811 10877 10945 11370 11431 11492 12011 12235 12546 13005
 13063 13262 13329 13389 13450 13523 13583 14765 14832 14922 15089 15147
 15205 15265 15321 15473 15534 15602 15716 15799 16214 16371 16431 16494
 16561 16622 16684 16745 16809 16876 16934 17095 17161 17224 17286 17752
 17817 17893 17971 18046 18446 18681 18751 19476 19540 19617 19812 19882
 19983 20412 20479 20551 20623 20689 20760 20894 20965 21043 21247 21313
 21378 21443 21506 21570 21835 21896 22000 22063 22126 22288 22354 22414
 22477 22539 22599 22662 22723 23112 23221 23300 23442 23502], sparse_value=nan, filter_names={'SO'}), (('word', 'AB'), ('SO',)): VectorSparse(name=('word', 'AB'), nrows=29850, values=None, indices=[ 6407 14562 18150 21129], sparse_value=nan, filter_names={'SO'}), (('word', 'Aa'), ('SO',)): VectorSparse(name=('word', 'Aa'), nrows=29850, values=None, indices=[ 1944  2068  2457  3251  3666  4016  5626  5833  6141  8478  8768  9851

In [6]:
df_signal = pd.read_csv(dict_inputdata['filepath_signal']).rename(dict_inputdata['columnRenames_signal'], axis=1)
df_trial = pd.read_csv(dict_inputdata['filepath_trial']).rename(dict_inputdata['columnRenames_trial'], axis=1)

df_trial['nTrial'] = np.arange(df_trial.shape[0])
df_signal['lick'] = construct_lick(df_signal, 'leftLick', 'rightLick')
df_signal['sideIn'] = construct_signal_entry(df_signal, 'rightIn', 'leftIn')

nrows = df_signal.shape[0]

df_trial = df_trial[(df_trial[trial_index_columns] == 0).sum(axis=1) == 0]
df_trial_indices = df_trial[trial_index_columns]

matrix_signal_sparse = util.Matrix.from_pd_dense_num(df_signal[signal_sparse_columns]).one_hots_to_inx()
matrix_signal_dense = util.Matrix.from_pd_dense_num(df_signal[signal_dense_columns])
matrix_trial_inx = util.Matrix.from_pd_sparse_num(nrows, indices=df_trial_indices - 1, values=None, sparse_value=0)
matrix_trial_num = util.Matrix.from_pd_sparse_num(nrows, indices=df_trial_indices - 1, values=df_trial[trial_num_columns], sparse_value=np.nan)
matrix_trial_cat = util.Matrix.from_pd_sparse_cat(nrows, indices=df_trial_indices - 1, values=df_trial[trial_cat_columns], sparse_value=np.nan)

matrix_all_preds = util.Matrix([matrix_signal_sparse, matrix_signal_dense, matrix_trial_inx, matrix_trial_num, matrix_trial_cat])

In [7]:
matrix_signal_sparse.to_pd()

      lick sideIn
0      1.0    0.0
1      0.0    0.0
2      1.0    0.0
3      0.0    0.0
4      1.0    0.0
...    ...    ...
29845  0.0    0.0
29846  0.0    0.0
29847  0.0    0.0
29848  0.0    0.0
29849  0.0    0.0

[29850 rows x 2 columns]

In [8]:
matrix_signal_dense.to_pd()

            gDA      gACH

0     -2.515587  0.087224
1     -1.660977 -0.159638
2     -2.155949 -0.408390
3     -0.868106 -0.799495
4     -0.477200 -0.422909
...         ...       ...
29845 -2.426426  0.590765
29846 -2.861054 -1.745552
29847 -2.314100 -0.742046
29848 -1.455169 -0.879324
29849 -1.484765 -0.084933

[29850 rows x 2 columns]

In [9]:
matrix_trial_inx.to_pd()

        CI   CO   SI   SO
0      0.0  0.0  0.0  0.0
1      0.0  0.0  0.0  0.0
2      0.0  0.0  0.0  0.0
3      0.0  0.0  0.0  0.0
4      0.0  0.0  0.0  0.0
...    ...  ...  ...  ...
29845  0.0  0.0  0.0  0.0
29846  0.0  0.0  0.0  0.0
29847  0.0  0.0  0.0  0.0
29848  0.0  0.0  0.0  0.0
29849  0.0  0.0  0.0  0.0

[29850 rows x 4 columns]

In [10]:
matrix_trial_num.to_pd()

      nTrial hasData nTrial hasData nTrial hasData nTrial hasData
          CI      CI     CO      CO     SI      SI     SO      SO
0        NaN     NaN    NaN     NaN    NaN     NaN    NaN     NaN
1        NaN     NaN    NaN     NaN    NaN     NaN    NaN     NaN
2        NaN     NaN    NaN     NaN    NaN     NaN    NaN     NaN
3        NaN     NaN    NaN     NaN    NaN     NaN    NaN     NaN
4        NaN     NaN    NaN     NaN    NaN     NaN    NaN     NaN
...      ...     ...    ...     ...    ...     ...    ...     ...
29845    NaN     NaN    NaN     NaN    NaN     NaN    NaN     NaN
29846    NaN     NaN    NaN     NaN    NaN     NaN    NaN     NaN
29847    NaN     NaN    NaN     NaN    NaN     NaN    NaN     NaN
29848    NaN     NaN    NaN     NaN    NaN     NaN    NaN     NaN
29849    NaN     NaN    NaN     NaN    NaN     NaN    NaN     NaN

[29850 rows x 8 columns]

In [17]:
with pd.option_context('display.max_columns', None):
    display(matrix_trial_cat.to_pd()[(~matrix_trial_cat.to_pd().isna()).sum(axis=1) > 0])

,"(wasRewarded, 0)","(wasRewarded, 1)","(word, AA)","(word, AB)","(word, Aa)","(word, Ab)","(word, aA)","(word, aB)","(word, aa)","(word, ab)","(wasRewarded, 0)","(wasRewarded, 1)","(word, AA)","(word, AB)","(word, Aa)","(word, Ab)","(word, aA)","(word, aB)","(word, aa)","(word, ab)","(wasRewarded, 0)","(wasRewarded, 1)","(word, AA)","(word, AB)","(word, Aa)","(word, Ab)","(word, aA)","(word, aB)","(word, aa)","(word, ab)","(wasRewarded, 0)","(wasRewarded, 1)","(word, AA)","(word, AB)","(word, Aa)","(word, Ab)","(word, aA)","(word, aB)","(word, aa)","(word, ab)"
,CI,CI,CI,CI,CI,CI,CI,CI,CI,CI,CO,CO,CO,CO,CO,CO,CO,CO,CO,CO,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI,SO,SO,SO,SO,SO,SO,SO,SO,SO,SO
1222,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1290,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
29104,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [12]:
matrix_all_preds.to_pd()

                        gDA      gACH                     nTrial hasData  ...  \
      lick sideIn                       CI   CO   SI   SO     CI      CI  ...
0      1.0    0.0 -2.515587  0.087224  0.0  0.0  0.0  0.0    NaN     NaN  ...
1      0.0    0.0 -1.660977 -0.159638  0.0  0.0  0.0  0.0    NaN     NaN  ...
2      1.0    0.0 -2.155949 -0.408390  0.0  0.0  0.0  0.0    NaN     NaN  ...
3      0.0    0.0 -0.868106 -0.799495  0.0  0.0  0.0  0.0    NaN     NaN  ...
4      1.0    0.0 -0.477200 -0.422909  0.0  0.0  0.0  0.0    NaN     NaN  ...
...    ...    ...       ...       ...  ...  ...  ...  ...    ...     ...  ...
29845  0.0    0.0 -2.426426  0.590765  0.0  0.0  0.0  0.0    NaN     NaN  ...
29846  0.0    0.0 -2.861054 -1.745552  0.0  0.0  0.0  0.0    NaN     NaN  ...
29847  0.0    0.0 -2.314100 -0.742046  0.0  0.0  0.0  0.0    NaN     NaN  ...
29848  0.0    0.0 -1.455169 -0.879324  0.0  0.0  0.0  0.0    NaN     NaN  ...
29849  0.0    0.0 -1.484765 -0.084933  0.0  0.0  0.0  0.0    NaN     NaN  ...

      (wasRewarded, 0) (wasRewarded, 1) (word, AA) (word, AB) (word, Aa)  \
                    SO               SO         SO         SO         SO
0                  NaN              NaN        NaN        NaN        NaN
1                  NaN              NaN        NaN        NaN        NaN
2                  NaN              NaN        NaN        NaN        NaN
3                  NaN              NaN        NaN        NaN        NaN
4                  NaN              NaN        NaN        NaN        NaN
...                ...              ...        ...        ...        ...
29845              NaN              NaN        NaN        NaN        NaN
29846              NaN              NaN        NaN        NaN        NaN
29847              NaN              NaN        NaN        NaN        NaN
29848              NaN              NaN        NaN        NaN        NaN
29849              NaN              NaN        NaN        NaN        NaN

      (word, Ab) (word, aA) (word, aB) (word, aa) (word, ab)
              SO         SO         SO         SO         SO
0            NaN        NaN        NaN        NaN        NaN
1            NaN        NaN        NaN        NaN        NaN
2            NaN        NaN        NaN        NaN        NaN
3            NaN        NaN        NaN        NaN        NaN
4            NaN        NaN        NaN        NaN        NaN
...          ...        ...        ...        ...        ...
29845        NaN        NaN        NaN        NaN        NaN
29846        NaN        NaN        NaN        NaN        NaN
29847        NaN        NaN        NaN        NaN        NaN
29848        NaN        NaN        NaN        NaN        NaN
29849        NaN        NaN        NaN        NaN        NaN

[29850 rows x 56 columns]

In [13]:
break

SyntaxError: 'break' outside loop (668683560.py, line 1)