In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
import util
# import fit_glm_helpers as fgh

In [3]:
dir_data = Path('/Users/josh/Documents/Harvard/GLM/sabatinilab-glm/data/old-data-version/raw-new/Figure_1_2')
dir_output = Path('/Users/josh/Desktop/example_output_folder')

lst_dict_inputdata = [
    {'session_id': 'WT63_11082021',
    'filepath_signal': dir_data / Path('GLM_SIGNALS_WT69_12192021.txt'),
    'filepath_trial': dir_data / Path('GLM_TABLE_WT69_12192021.txt'),
    'bool_trialTable_matlab_indexed': True,
    'columnName_trialTable_trialId': None,
    'columnRenames_signal': {'Ch1': 'gDA', 'Ch5': 'gACH'},
    'columnRenames_trial': None},
]

dir_output.mkdir(parents=True, exist_ok=True)

In [4]:
df_signal = pd.read_csv(lst_dict_inputdata[0]['filepath_signal'])
df_trial = pd.read_csv(lst_dict_inputdata[0]['filepath_trial'])

In [5]:
df_signal

,Ch1,Ch2,Ch5,Ch6,centerOcc,centerIn,centerOut,rightOcc,rightIn,rightOut,rightLick,leftOcc,leftIn,leftOut,leftLick,reward,noreward
0,-2.515587,0,0.087224,0,0,0,0,0,0,0,0,1,0,0,1,0,1
1,-1.660977,0,-0.159638,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2,-2.155949,0,-0.408390,0,0,0,0,0,0,0,0,1,0,0,1,0,1
3,-0.868106,0,-0.799495,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4,-0.477200,0,-0.422909,0,0,0,0,0,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29845,-2.426426,0,0.590765,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29846,-2.861054,0,-1.745552,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29847,-2.314100,0,-0.742046,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29848,-1.455169,0,-0.879324,0,0,0,0,0,0,0,0,0,0,0,0,0,0
29849,-1.484765,0,-0.084933,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
df_trial

,hasAllPhotometryData,photometryCenterInIndex,photometryCenterOutIndex,photometrySideInIndex,photometrySideOutIndex,photometryFirstLickIndex,choseLeft,choseRight,leftRewardProb,rightRewardProb,wasRewarded,word
0,0,0,0,0,0,0,0,1,0.85,0.15,0,NaN
1,0,0,0,0,0,0,0,1,0.85,0.15,0,aa
2,0,0,0,0,0,0,1,0,0.85,0.15,1,aB
3,0,0,0,0,0,0,0,1,0.85,0.15,0,Ab
4,0,0,0,0,0,0,0,1,0.85,0.15,0,aa
...,...,...,...,...,...,...,...,...,...,...,...,...
341,1,24370,24371,24389,24413,24391,1,0,0.85,0.15,1,aB
342,1,25218,25225,25248,25253,0,0,1,0.85,0.15,0,Ab
343,1,25765,25774,25826,25831,0,1,0,0.85,0.15,0,ab
344,1,29025,29030,29065,29071,0,0,1,0.85,0.15,0,ab
345,1,29105,29108,29129,29162,29132,1,0,0.85,0.15,1,aB

In [7]:
columnName_alignment_trial_start = 'photometryCenterInIndex'
columnName_alignment_trial_end = 'photometrySideOutIndex'

# Note: Alignment values of 0 for Matlab-indexed trial tables will be treated as "no-data" values
# and and -1 for Python-indexed trial tables. Matlab-indexed trial tables should only have values
# >= 0 in and >= -1 in Python.
trial_index_columns = [
    'photometryCenterInIndex',
    'photometryCenterOutIndex',
    'photometrySideInIndex',
    'photometrySideOutIndex',
]

trial_num_columns = [
    'leftRewardProb',
    'rightRewardProb',
]

trial_cat_columns = [
    'hasAllPhotometryData',
    'wasRewarded',
    'word',
]

signal_dense_columns = [
    'Ch1',
    'Ch5',
]

signal_sparse_columns = [
    'centerOcc',
    'centerIn',
    'centerOut',
    'rightOcc',
    'rightIn',
    'rightOut',
    'rightLick',
    'leftOcc',
    'leftIn',
    'leftOut',
    'leftLick',
]

In [8]:
df_trial = df_trial[(df_trial[trial_index_columns] == 0).sum(axis=1) == 0]
df_trial_indices = df_trial[trial_index_columns]
df_trial_num = df_trial[trial_num_columns]
df_trial_cat = df_trial[trial_cat_columns]

df_signal_dense = df_signal[signal_dense_columns]
df_signal_toSparse = df_signal[signal_sparse_columns]

In [9]:
display(df_trial.head())
display(df_signal.head())
display(df_trial_indices.head())
display(df_trial_num.head())
display(df_trial_cat.head())
display(df_signal_dense.head())
display(df_signal_toSparse.head())

,hasAllPhotometryData,photometryCenterInIndex,photometryCenterOutIndex,photometrySideInIndex,photometrySideOutIndex,photometryFirstLickIndex,choseLeft,choseRight,leftRewardProb,rightRewardProb,wasRewarded,word
19,1,1223,1226,1240,1266,1243,1,0,0.85,0.15,1,aA
20,1,1291,1292,1307,1335,1310,1,0,0.85,0.15,1,AA
21,1,1451,1453,1468,1494,1470,1,0,0.85,0.15,1,AA
22,1,1508,1510,1524,1553,1526,1,0,0.85,0.15,1,AA
23,1,1566,1567,1581,1614,1585,1,0,0.85,0.15,1,AA

,Ch1,Ch2,Ch5,Ch6,centerOcc,centerIn,centerOut,rightOcc,rightIn,rightOut,rightLick,leftOcc,leftIn,leftOut,leftLick,reward,noreward
0,-2.515587,0,0.087224,0,0,0,0,0,0,0,0,1,0,0,1,0,1
1,-1.660977,0,-0.159638,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2,-2.155949,0,-0.408390,0,0,0,0,0,0,0,0,1,0,0,1,0,1
3,-0.868106,0,-0.799495,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4,-0.477200,0,-0.422909,0,0,0,0,0,0,0,0,1,0,0,1,0,1

,photometryCenterInIndex,photometryCenterOutIndex,photometrySideInIndex,photometrySideOutIndex
19,1223,1226,1240,1266
20,1291,1292,1307,1335
21,1451,1453,1468,1494
22,1508,1510,1524,1553
23,1566,1567,1581,1614

    leftRewardProb  rightRewardProb
19            0.85             0.15
20            0.85             0.15
21            0.85             0.15
22            0.85             0.15
23            0.85             0.15

    hasAllPhotometryData  wasRewarded word
19                     1            1   aA
20                     1            1   AA
21                     1            1   AA
22                     1            1   AA
23                     1            1   AA

        Ch1       Ch5
0 -2.515587  0.087224
1 -1.660977 -0.159638
2 -2.155949 -0.408390
3 -0.868106 -0.799495
4 -0.477200 -0.422909

,centerOcc,centerIn,centerOut,rightOcc,rightIn,rightOut,rightLick,leftOcc,leftIn,leftOut,leftLick
0,0,0,0,0,0,0,0,1,0,0,1
1,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,1,0,0,1
3,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,1,0,0,1

In [10]:
df_trial_cat

     hasAllPhotometryData  wasRewarded word
19                      1            1   aA
20                      1            1   AA
21                      1            1   AA
22                      1            1   AA
23                      1            1   AA
..                    ...          ...  ...
341                     1            1   aB
342                     1            0   Ab
343                     1            0   ab
344                     1            0   ab
345                     1            1   aB

[327 rows x 3 columns]

In [11]:
nrows = df_signal.shape[0]

matrix_signal_sparse = util.Matrix.from_pd_dense_num(df_signal_toSparse)
matrix_signal_dense = util.Matrix.from_pd_dense_num(df_signal_dense)

matrix_trial_indices = util.Matrix.from_pd_sparse_num(nrows, indices=df_trial_indices - 1)
matrix_trial_num = util.Matrix.from_pd_sparse_num(nrows, values=df_trial_num)
matrix_trial_in = util.Matrix.from_pd_sparse_num(nrows, indices=df_trial_indices - 1, values=df_trial_num, sparse_value=np.nan)

matrix_trial_cat = util.Matrix.from_pd_sparse_num(nrows, values=df_trial_cat, sparse_value=np.nan)
matrix_trial_ic = util.Matrix.from_pd_sparse_num(nrows, indices=df_trial_indices - 1, values=df_trial_cat, sparse_value=np.nan)

assert np.all(df_signal_toSparse == matrix_signal_sparse.to_pd()), "df_signal_toSparse is failed to convert to sparse"
assert np.all(df_signal_dense == matrix_signal_dense.to_pd()), "df_signal_dense is failed to convert to sparse"

In [12]:
df_signal_toSparse

,centerOcc,centerIn,centerOut,rightOcc,rightIn,rightOut,rightLick,leftOcc,leftIn,leftOut,leftLick
0,0,0,0,0,0,0,0,1,0,0,1
1,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,1,0,0,1
3,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
29845,0,0,0,0,0,0,0,0,0,0,0
29846,0,0,0,0,0,0,0,0,0,0,0
29847,0,0,0,0,0,0,0,0,0,0,0
29848,0,0,0,0,0,0,0,0,0,0,0
29849,0,0,0,0,0,0,0,0,0,0,0

In [13]:
matrix_signal_sparse.to_pd()

,centerOcc,centerIn,centerOut,rightOcc,rightIn,rightOut,rightLick,leftOcc,leftIn,leftOut,leftLick
0,0,0,0,0,0,0,0,1,0,0,1
1,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,1,0,0,1
3,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
29845,0,0,0,0,0,0,0,0,0,0,0
29846,0,0,0,0,0,0,0,0,0,0,0
29847,0,0,0,0,0,0,0,0,0,0,0
29848,0,0,0,0,0,0,0,0,0,0,0
29849,0,0,0,0,0,0,0,0,0,0,0

In [14]:
mt = util.Matrix([matrix_trial_in, matrix_trial_indices])
mtpd = mt.to_pd()
with pd.option_context('display.max_rows', 1000, 'display.max_columns', None):
    display(mtpd[((~mtpd[trial_num_columns].isna()).sum(axis=1) > 0)&(((mtpd[list(zip(['']*len(trial_index_columns), trial_index_columns))] != 0)).sum(axis=1) > 0)])

               leftRewardProb         rightRewardProb  \
      photometryCenterInIndex photometryCenterInIndex
1222                     0.85                    0.15
1225                      NaN                     NaN
1239                      NaN                     NaN
1265                      NaN                     NaN
1290                     0.85                    0.15
...                       ...                     ...
29070                     NaN                     NaN
29104                    0.85                    0.15
29107                     NaN                     NaN
29128                     NaN                     NaN
29161                     NaN                     NaN

                leftRewardProb          rightRewardProb        leftRewardProb  \
      photometryCenterOutIndex photometryCenterOutIndex photometrySideInIndex
1222                       NaN                      NaN                   NaN
1225                      0.85                     0.15                   NaN
1239                       NaN                      NaN                  0.85
1265                       NaN                      NaN                   NaN
1290                       NaN                      NaN                   NaN
...                        ...                      ...                   ...
29070                      NaN                      NaN                   NaN
29104                      NaN                      NaN                   NaN
29107                     0.85                     0.15                   NaN
29128                      NaN                      NaN                  0.85
29161                      NaN                      NaN                   NaN

            rightRewardProb         leftRewardProb        rightRewardProb  \
      photometrySideInIndex photometrySideOutIndex photometrySideOutIndex
1222                    NaN                    NaN                    NaN
1225                    NaN                    NaN                    NaN
1239                   0.15                    NaN                    NaN
1265                    NaN                   0.85                   0.15
1290                    NaN                    NaN                    NaN
...                     ...                    ...                    ...
29070                   NaN                   0.85                   0.15
29104                   NaN                    NaN                    NaN
29107                   NaN                    NaN                    NaN
29128                  0.15                    NaN                    NaN
29161                   NaN                   0.85                   0.15

                                                                              \
      photometryCenterInIndex photometryCenterOutIndex photometrySideInIndex
1222                      1.0                      0.0                   0.0
1225                      0.0                      1.0                   0.0
1239                      0.0                      0.0                   1.0
1265                      0.0                      0.0                   0.0
1290                      1.0                      0.0                   0.0
...                       ...                      ...                   ...
29070                     0.0                      0.0                   0.0
29104                     1.0                      0.0                   0.0
29107                     0.0                      1.0                   0.0
29128                     0.0                      0.0                   1.0
29161                     0.0                      0.0                   0.0


      photometrySideOutIndex
1222                     0.0
1225                     0.0
1239                     0.0
1265                     1.0
1290                     0.0
...                      ...
29070                    1.0
29104                    0.0
29107                    0.0
29128                    0.0
29161                    1.0

[1279 rows x 12 columns]

In [15]:
mt.shift([-2, -1, 0, 1, 2]).to_pd().sort_index(axis=1)

                                                                            \
      photometryCenterInIndex                     photometryCenterOutIndex
                           -2   -1    0    1    2                       -2
0                         0.0  0.0  0.0  0.0  0.0                      0.0
1                         0.0  0.0  0.0  0.0  0.0                      0.0
2                         0.0  0.0  0.0  0.0  0.0                      0.0
3                         0.0  0.0  0.0  0.0  0.0                      0.0
4                         0.0  0.0  0.0  0.0  0.0                      0.0
...                       ...  ...  ...  ...  ...                      ...
29845                     0.0  0.0  0.0  0.0  0.0                      0.0
29846                     0.0  0.0  0.0  0.0  0.0                      0.0
29847                     0.0  0.0  0.0  0.0  0.0                      0.0
29848                     0.0  0.0  0.0  0.0  0.0                      0.0
29849                     0.0  0.0  0.0  0.0  0.0                      0.0

                           ...       rightRewardProb                  \
                           ... photometrySideInIndex
        -1    0    1    2  ...                    -2  -1   0   1   2
0      0.0  0.0  0.0  0.0  ...                   NaN NaN NaN NaN NaN
1      0.0  0.0  0.0  0.0  ...                   NaN NaN NaN NaN NaN
2      0.0  0.0  0.0  0.0  ...                   NaN NaN NaN NaN NaN
3      0.0  0.0  0.0  0.0  ...                   NaN NaN NaN NaN NaN
4      0.0  0.0  0.0  0.0  ...                   NaN NaN NaN NaN NaN
...    ...  ...  ...  ...  ...                   ...  ..  ..  ..  ..
29845  0.0  0.0  0.0  0.0  ...                   NaN NaN NaN NaN NaN
29846  0.0  0.0  0.0  0.0  ...                   NaN NaN NaN NaN NaN
29847  0.0  0.0  0.0  0.0  ...                   NaN NaN NaN NaN NaN
29848  0.0  0.0  0.0  0.0  ...                   NaN NaN NaN NaN NaN
29849  0.0  0.0  0.0  0.0  ...                   NaN NaN NaN NaN NaN


      photometrySideOutIndex
                          -2  -1   0   1   2
0                        NaN NaN NaN NaN NaN
1                        NaN NaN NaN NaN NaN
2                        NaN NaN NaN NaN NaN
3                        NaN NaN NaN NaN NaN
4                        NaN NaN NaN NaN NaN
...                      ...  ..  ..  ..  ..
29845                    NaN NaN NaN NaN NaN
29846                    NaN NaN NaN NaN NaN
29847                    NaN NaN NaN NaN NaN
29848                    NaN NaN NaN NaN NaN
29849                    NaN NaN NaN NaN NaN

[29850 rows x 60 columns]

In [16]:
mt

Matrix(vectors={('leftRewardProb', ('photometryCenterInIndex',)): VectorSparse(name=leftRewardProb, nrows=29850, values=[0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85], indices=[ 1222  1290  1450  1507  1565  1655  1725  1783  1866  1926  1971  2050
  2087  2124  2179  2232  2314  2379  2438  2560  2600  2645  2789  2837
  2893  2956  3037  3105  3177  3231  3270  3345  3406  3477  3533  3590
  3648  3695  3752  3820  4000  4048  4100  4137  4203  4270  4324  4381
  4442  4499  4556  4637  4786  4837  4888  5096  5189  5293  5338  5514
  5555  5609  5645  5702  5757  5816  5903  5957  6012  6067  6125  6201
  6358  6420  6491  6554  6619  6682  6753  6818  6887  6949  7015  7091
  7161  7226  7290  7359  7434  7508  7568  7728  7829  7894  7951  8018
  8092  8193  8253  8317  8387  8459  8688  8749  8827  8867  8925  8985
  9045  9104  9159  9212  9389  9452  9620  9672  9724  9781  9833  9912
  9966 10018 10073 10131 10190 10247 10307 10364 10430 10469 10522 10582
 10644 10708 10769 10827 10904 10960 10996 11047 11173 11255 11328 11382
 11444 11514 11552 11610 11696 11732 11785 11834 11870 11905 11971 12027
 12089 12125 12188 12388 12435 12494 12688 12775 12814 12855 12898 12964
 13018 13078 13120 13154 13216 13281 13346 13403 13476 13537 13599 13636
 13737 13775 13814 13857 13895 13932 13994 14055 14299 14362 14401 14523
 14579 14656 14719 14779 14876 14948 14987 15045 15105 15163 15220 15280
 15336 15371 15428 15488 15551 15669 15752 15815 15942 16021 16077 16111
 16169 16229 16264 16324 16386 16446 16511 16576 16638 16704 16761 16824
 16891 16950 16989 17049 17111 17177 17239 17302 17379 17420 17457 17509
 17547 17624 17707 17765 17835 17917 17996 18106 18192 18236 18337 18403
 18538 18577 18640 18709 18767 18847 18886 19268 19309 19433 19494 19556
 19638 19685 19766 19839 19936 20365 20431 20506 20578 20639 20712 20845
 20918 20987 21061 21204 21268 21333 21395 21463 21524 21588 21625 21688
 21727 21788 21853 21946 22020 22081 22147 22186 22245 22305 22372 22433
 22496 22557 22617 22679 22741 22779 22837 22962 23012 23072 23179 23256
 23393 23461 23522 23560 23598 23649 23720 23763 23960 24310 24369 25217
 25764 29024 29104], sparse_value=nan, filter_names={'photometryCenterInIndex'}), ('rightRewardProb', ('photometryCenterInIndex',)): VectorSparse(name=rightRewardProb, nrows=29850, values=[0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15], indices=[ 1222  1290  1450  1507  1565  1655  1725  1783  1866  1926  1971  2050
  2087  2124  2179  2232  2314  2379  2438  2560  2600  2645  2789  2837
  2893  2956  3037  3105  3177  3231  3270  3345  3406  3477  3533  3590
  3648  3695  3752  3820  4000  4048  4100  4137  4203  4270  4324  4381
  4442  4499  4556  4637  4786  4837  4888  5096  5189  5293  5338  5514
  5555  5609  5645  5702  5757  5816  5903  5957  6012  6067  6125  6201
  6358  6420  6491  6554  6619  6682  6753  6818  6887  6949  7015  7091
  7161  7226  7290  7359  7434  7508  7568  7728  7829  7894  7951  8018
  8092  8193  8253  8317  8387  8459  8688  8749  8827  8867  8925  8985
  9045  9104  9159  9212  9389  9452  9620  9672  9724  9781  9833  9912
  9966 10018 10073 10131 10190 10247 10307 10364 10430 10469 10522 10582
 10644 10708 10769 10827 10904 10960 10996 11047 11173 11255 11328 11382
 11444 11514 11552 11610 11696 11732 11785 11834 11870 11905 11971 12027
 12089 12125 12188 12388 12435 12494 12688 12775 12814 12855 12898 12964
 13018 13078 13120 13154 13216 13281 13346 13403 13476 13537 13599 13636
 13737 13775 13814 13857 13895 13932 13994 14055 14299 14362 14401 14523
 14579 14656 14719 14779 14876 14948 14987 15045 15105 15163 15220 15280
 15336 15371 15428 15488 15551 15669 15752 15815 15942 16021 16077 16111
 16169 16229 16264 16324 16386 16446 16511 16576 16638 16704 16761 16824
 16891 16950 16989 17049 17111 17177 17239 17302 17379 17420 17457 17509
 17547 17624 17707 17765 17835 17917 17996 18106 18192 18236 18337 18403
 18538 18577 18640 18709 18767 18847 18886 19268 19309 19433 19494 19556
 19638 19685 19766 19839 19936 20365 20431 20506 20578 20639 20712 20845
 20918 20987 21061 21204 21268 21333 21395 21463 21524 21588 21625 21688
 21727 21788 21853 21946 22020 22081 22147 22186 22245 22305 22372 22433
 22496 22557 22617 22679 22741 22779 22837 22962 23012 23072 23179 23256
 23393 23461 23522 23560 23598 23649 23720 23763 23960 24310 24369 25217
 25764 29024 29104], sparse_value=nan, filter_names={'photometryCenterInIndex'}), ('leftRewardProb', ('photometryCenterOutIndex',)): VectorSparse(name=leftRewardProb, nrows=29850, values=[0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85], indices=[ 1225  1291  1452  1509  1566  1656  1726  1783  1866  1927  1973  2050
  2089  2126  2180  2233  2314  2381  2439  2561  2602  2646  2792  2837
  2894  2956  3037  3106  3180  3232  3273  3347  3408  3478  3534  3591
  3649  3697  3752  3822  4002  4051  4101  4139  4204  4271  4326  4382
  4444  4500  4557  4638  4787  4838  4890  5097  5190  5295  5339  5514
  5557  5610  5647  5703  5758  5817  5906  5959  6013  6068  6126  6204
  6360  6421  6492  6555  6619  6682  6754  6819  6888  6949  7018  7092
  7161  7227  7290  7359  7435  7508  7569  7730  7829  7896  7952  8019
  8093  8195  8253  8317  8387  8459  8691  8749  8829  8869  8927  8986
  9047  9105  9160  9214  9391  9454  9622  9673  9725  9781  9835  9914
  9967 10020 10074 10133 10191 10249 10308 10366 10432 10470 10523 10584
 10646 10710 10770 10828 10905 10962 10997 11049 11176 11258 11329 11383
 11445 11516 11555 11612 11699 11735 11787 11835 11872 11906 11972 12027
 12090 12127 12189 12393 12436 12495 12690 12776 12815 12857 12900 12965
 13019 13079 13121 13157 13216 13282 13349 13403 13477 13537 13601 13638
 13738 13777 13815 13859 13897 13934 13995 14056 14302 14364 14403 14526
 14580 14658 14720 14780 14877 14948 14990 15047 15107 15164 15222 15282
 15338 15373 15430 15489 15552 15671 15753 15816 15946 16022 16078 16113
 16170 16230 16266 16326 16387 16448 16513 16577 16641 16705 16762 16825
 16892 16952 16991 17051 17113 17178 17241 17303 17381 17421 17459 17511
 17551 17626 17708 17766 17837 17919 17997 18109 18193 18238 18338 18404
 18540 18578 18642 18710 18768 18850 18888 19268 19311 19434 19498 19557
 19642 19696 19768 19840 19937 20367 20433 20507 20580 20640 20713 20846
 20919 20989 21064 21206 21270 21334 21397 21464 21525 21589 21627 21689
 21728 21790 21854 21949 22022 22082 22148 22188 22247 22307 22374 22436
 22497 22559 22619 22681 22742 22781 22839 22966 23013 23073 23181 23257
 23396 23463 23524 23562 23603 23652 23722 23766 23962 24312 24370 25224
 25773 29029 29107], sparse_value=nan, filter_names={'photometryCenterOutIndex'}), ('rightRewardProb', ('photometryCenterOutIndex',)): VectorSparse(name=rightRewardProb, nrows=29850, values=[0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15], indices=[ 1225  1291  1452  1509  1566  1656  1726  1783  1866  1927  1973  2050
  2089  2126  2180  2233  2314  2381  2439  2561  2602  2646  2792  2837
  2894  2956  3037  3106  3180  3232  3273  3347  3408  3478  3534  3591
  3649  3697  3752  3822  4002  4051  4101  4139  4204  4271  4326  4382
  4444  4500  4557  4638  4787  4838  4890  5097  5190  5295  5339  5514
  5557  5610  5647  5703  5758  5817  5906  5959  6013  6068  6126  6204
  6360  6421  6492  6555  6619  6682  6754  6819  6888  6949  7018  7092
  7161  7227  7290  7359  7435  7508  7569  7730  7829  7896  7952  8019
  8093  8195  8253  8317  8387  8459  8691  8749  8829  8869  8927  8986
  9047  9105  9160  9214  9391  9454  9622  9673  9725  9781  9835  9914
  9967 10020 10074 10133 10191 10249 10308 10366 10432 10470 10523 10584
 10646 10710 10770 10828 10905 10962 10997 11049 11176 11258 11329 11383
 11445 11516 11555 11612 11699 11735 11787 11835 11872 11906 11972 12027
 12090 12127 12189 12393 12436 12495 12690 12776 12815 12857 12900 12965
 13019 13079 13121 13157 13216 13282 13349 13403 13477 13537 13601 13638
 13738 13777 13815 13859 13897 13934 13995 14056 14302 14364 14403 14526
 14580 14658 14720 14780 14877 14948 14990 15047 15107 15164 15222 15282
 15338 15373 15430 15489 15552 15671 15753 15816 15946 16022 16078 16113
 16170 16230 16266 16326 16387 16448 16513 16577 16641 16705 16762 16825
 16892 16952 16991 17051 17113 17178 17241 17303 17381 17421 17459 17511
 17551 17626 17708 17766 17837 17919 17997 18109 18193 18238 18338 18404
 18540 18578 18642 18710 18768 18850 18888 19268 19311 19434 19498 19557
 19642 19696 19768 19840 19937 20367 20433 20507 20580 20640 20713 20846
 20919 20989 21064 21206 21270 21334 21397 21464 21525 21589 21627 21689
 21728 21790 21854 21949 22022 22082 22148 22188 22247 22307 22374 22436
 22497 22559 22619 22681 22742 22781 22839 22966 23013 23073 23181 23257
 23396 23463 23524 23562 23603 23652 23722 23766 23962 24312 24370 25224
 25773 29029 29107], sparse_value=nan, filter_names={'photometryCenterOutIndex'}), ('leftRewardProb', ('photometrySideInIndex',)): VectorSparse(name=leftRewardProb, nrows=29850, values=[0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85], indices=[ 1239  1306  1467  1523  1580  1671  1740  1798  1881  1941  1989  2065
  2103  2142  2193  2248  2327  2397  2454  2576  2614  2661  2808  2853
  2908  2970  3052  3119  3194  3247  3285  3360  3420  3490  3546  3602
  3661  3709  3764  3834  4014  4068  4115  4151  4217  4284  4338  4393
  4456  4513  4570  4652  4799  4851  4902  5113  5206  5311  5355  5530
  5572  5623  5659  5715  5770  5829  5918  5971  6026  6080  6138  6217
  6375  6437  6507  6570  6633  6699  6770  6834  6901  6963  7035  7106
  7176  7241  7306  7373  7449  7522  7583  7742  7847  7909  7968  8033
  8108  8210  8268  8332  8402  8474  8708  8766  8846  8881  8939  8998
  9059  9117  9172  9226  9406  9466  9635  9685  9737  9794  9847  9927
  9979 10032 10086 10145 10203 10261 10321 10378 10445 10482 10535 10596
 10658 10722 10782 10841 10918 10974 11009 11061 11188 11272 11343 11399
 11463 11530 11567 11623 11712 11749 11803 11848 11885 11921 11986 12043
 12103 12141 12203 12406 12451 12510 12702 12791 12827 12874 12920 12979
 13034 13095 13133 13171 13233 13296 13363 13419 13491 13551 13614 13655
 13752 13789 13827 13874 13909 13949 14009 14069 14316 14377 14419 14540
 14593 14673 14734 14796 14892 14962 15004 15058 15119 15176 15234 15295
 15350 15385 15442 15502 15566 15689 15768 15830 15963 16036 16090 16125
 16182 16243 16279 16339 16400 16464 16526 16590 16654 16719 16775 16841
 16906 16966 17005 17064 17125 17193 17254 17316 17394 17436 17472 17526
 17568 17642 17724 17789 17862 17936 18011 18125 18208 18252 18355 18419
 18555 18594 18657 18725 18784 18864 18904 19285 19329 19449 19513 19575
 19659 19712 19785 19856 19953 20385 20451 20522 20595 20659 20729 20864
 20934 21011 21095 21221 21284 21348 21413 21478 21540 21604 21641 21704
 21743 21803 21869 21971 22037 22098 22162 22202 22261 22322 22388 22450
 22511 22572 22633 22695 22756 22794 22852 22989 23029 23089 23197 23271
 23412 23479 23539 23577 23620 23668 23739 23782 23981 24336 24388 25247
 25825 29064 29128], sparse_value=nan, filter_names={'photometrySideInIndex'}), ('rightRewardProb', ('photometrySideInIndex',)): VectorSparse(name=rightRewardProb, nrows=29850, values=[0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15 0.15
 0.15 0.15 0.15 0.15 0.15 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85
 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.85 0.15

In [34]:
lrp = mt[(None, 'photometryCenterInIndex')].to_pd()
# lrp[(~lrp.isna()).sum(axis=1) > 0]
lrp[((~lrp.isna()).sum(axis=1) > 0)&(lrp == 1).sum(axis=1) > 0]

               leftRewardProb         rightRewardProb
      photometryCenterInIndex photometryCenterInIndex photometryCenterInIndex
1222                     0.85                    0.15                     1.0
1290                     0.85                    0.15                     1.0
1450                     0.85                    0.15                     1.0
1507                     0.85                    0.15                     1.0
1565                     0.85                    0.15                     1.0
...                       ...                     ...                     ...
24369                    0.85                    0.15                     1.0
25217                    0.85                    0.15                     1.0
25764                    0.85                    0.15                     1.0
29024                    0.85                    0.15                     1.0
29104                    0.85                    0.15                     1.0

[327 rows x 3 columns]

In [33]:
m = util.Matrix([mt[(None, 'photometryCenterInIndex')], mt[(None, 'photometryCenterInIndex')].shift([-1, 1])]).to_pd()
m[(m['']['photometryCenterInIndex'] > 0).sum(axis=1) > 0]

,leftRewardProb,rightRewardProb,,leftRewardProb,rightRewardProb,,leftRewardProb,rightRewardProb,
,photometryCenterInIndex,photometryCenterInIndex,photometryCenterInIndex,photometryCenterInIndex,photometryCenterInIndex,photometryCenterInIndex,photometryCenterInIndex,photometryCenterInIndex,photometryCenterInIndex
,0,0,0,-1,-1,-1,1,1,1
1221,NaN,NaN,0.0,0.85,0.15,1.0,NaN,NaN,0.0
1222,0.85,0.15,1.0,NaN,NaN,0.0,NaN,NaN,0.0
1223,NaN,NaN,0.0,NaN,NaN,0.0,0.85,0.15,1.0
1289,NaN,NaN,0.0,0.85,0.15,1.0,NaN,NaN,0.0
1290,0.85,0.15,1.0,NaN,NaN,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...
29024,0.85,0.15,1.0,NaN,NaN,0.0,NaN,NaN,0.0
29025,NaN,NaN,0.0,NaN,NaN,0.0,0.85,0.15,1.0
29103,NaN,NaN,0.0,0.85,0.15,1.0,NaN,NaN,0.0
29104,0.85,0.15,1.0,NaN,NaN,0.0,NaN,NaN,0.0
29105,NaN,NaN,0.0,NaN,NaN,0.0,0.85,0.15,1.0

In [52]:
mt.shift(range(-30, 31)).to_pd()['']

,photometryCenterInIndex,photometryCenterOutIndex,photometrySideInIndex,photometrySideOutIndex,photometryCenterInIndex,photometryCenterOutIndex,photometrySideInIndex,photometrySideOutIndex,photometryCenterInIndex,photometryCenterOutIndex,...,photometrySideInIndex,photometrySideOutIndex,photometryCenterInIndex,photometryCenterOutIndex,photometrySideInIndex,photometrySideOutIndex,photometryCenterInIndex,photometryCenterOutIndex,photometrySideInIndex,photometrySideOutIndex
,-30,-30,-30,-30,-29,-29,-29,-29,-28,-28,...,28,28,29,29,29,29,30,30,30,30
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0